body {
  background-color: powderblue;
}
h1 {
  color: blue;
}
h2 {
  color: blue;
}
h3 {
  color: navy;
}
p {
  color: black;
}
body {
  font-family: Arial;
}

.changelog {
  background-color: white; 
  border-style: inset;
}
.changelog-entry {
  background-color: white; 
  border-bottom: solid;
  border-color: lightslategrey;
  margin: 10px;
}
.container {
  display: grid;
  grid-template-columns: 290px 1fr;
  width: 100%;
  max-width: 1000px;
margin: 0 auto
}
.sidebar {
  background-color: white; 
  margin-right: 30px;
  height: 100vh;
  position: sticky;
  top: 0;
}
